* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  height: 100vh;
  background-image: linear-gradient(190deg,#7c26dd 0%,#000000 );
  font-family: 'Encode Sans SC', sans-serif;
}

h2 {
  margin-top: 20px;
  color: #FFF;
  text-align: center;
  font-weight: 800;
}

p {
  width: 700px;
  color: #FFF;
  font-weight: 300;
  margin: 40px auto 0;
}

h3 {
  text-align: center;
  color: #FFF;
  margin-bottom: 40px;
}

hr {
  border-top: 1px solid #CCC;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  width: 500px;
  margin: 10px auto 40px;
}

/***********************************************************************************************************************/

/**
* DIAMOND
**/
:root {
  --right-color: #20bc7d;
  --top-color: #1fb67c;
  --bottom-color: #26c893;
  --left-color: #55ddb9;
  --bg-color: #233637;
}

#diamond {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}

#diamond > h3 {
  margin-bottom: 0;
}

#diamond .diamond {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg)
}

#diamond span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid var(--right-color);
  border-bottom: 50px solid var(--bottom-color);
  border-left: 50px solid transparent;
}

#diamond span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid var(--top-color);
  border-right: 50px solid var(--right-color);
  border-bottom: 50px solid var(--bottom-color);
  border-left: 50px solid var(--left-color);
}

#diamond span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid var(--top-color);
  border-right: 50px solid var(--right-color);
  border-bottom: 50px solid var(--bottom-color);
  border-left: 50px solid var(--left-color);
}


#diamond span:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid var(--top-color);
  border-right: 50px solid var(--right-color);
  border-bottom: 50px solid var(--bottom-color);
  border-left: 50px solid var(--left-color);
}

/**********************************************************************************************************************/

#letter {
  margin: 0;
  padding: 40px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#letter > h3 {
  color: #000000;
  margin-bottom: 40px;
}

#letter > .card {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-right: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-left: 170px solid #ccc;
}

#letter .heart {
  width: 32px;
  height: 32px;
  background: #FF3838;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}

#letter .heart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FF3838;
  transform: translateY(-50%);
  border-radius:  50%;
}

#letter .heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background: #FF3838;
  transform: translateX(-50%);
  border-radius:  50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }

  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }

  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }

  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }

  70% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }

  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

/**********************************************************************************************************************/
#pepsi-logo {
  display: flex;
  justify-content: center;
  padding: 40px;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(135deg,#00A6B7 0%,#73FAC9 );
}

.pepsi {
  height: 300px;
  width: 300px;
  background-color: #34588e;
  border-radius: 50%;
  border: 10px solid #FFF;

  position: relative;
  overflow: hidden;
}

.pepsi:before {
  content: "";
  position: absolute;
  height: 400px;
  width: 500px;
  border-radius: 25%;
  background: #FFF;

  top: -160px;
  left: -240px;
  transform: rotate(-18deg)
}

.pepsi:after {
  content: "";
  position: absolute;

  background: #DA473C;
  height: 500px;
  width: 550px;
  border-radius: 50%;

  top: -275px;
  left: -300px;

}